<div>
  <h1>Spot the difference</h1>
  <div *ngIf="!gameOver">
    <h3>Round {{round}} - image set {{imageSet}} -
      <timer [timeout]="timeAllowed" (timesUp)="wrongAnswer($event)"></timer>
    </h3>
    <h3>Your score: {{totalScore}}</h3>
    <image-grid [imageSet]="imageSet" (rightAnswer)="rightAnswer($event)" (wrongAnswer)="wrongAnswer($event)"></image-grid>
  </div>
  <div *ngIf="gameOver">
    <h3>Game over!</h3>
    <h3>Your score was {{totalScore}}.</h3>
    <h3 *ngIf="isHighScore">Congratulations! That's a new high score!</h3>
    <h4 *ngIf="!isHighScore">The high score is {{highScore}}.</h4>
    <div style="margin-top: 1rem;">
      <button (click)="newGame($event)" type="button">
      Click here to start a new game.
    </button>
    </div>
  </div>
</div>